<Config>
    <Language>EN</Language>
    <Coreference>False</Coreference>
    <GoldStandardLexicon>../lexica/dbpedia_en.rdf</GoldStandardLexicon>
    <OutputLexicon>resources/OutputLexicon/autogen2020_04_01_FTBert</OutputLexicon>
    <Output>resources/autogen2020_04_01_FTBert.eval</Output>
    <NumLexItems>50000</NumLexItems>
    <doStatistics>False</doStatistics>
</Config>

