<Config>
    <Language>EN</Language>
    <Coreference>True</Coreference>
    <GoldStandardLexicon>../lexica/dbpedia_en.rdf</GoldStandardLexicon>
    <OutputLexicon>d:\\temp\\autogen01_06_2019_GoldPropOnly.lex</OutputLexicon>
    <Output>d:\\temp\\autogen01_06_2019_GoldPropOnly.eval</Output>
    <NumLexItems>50000</NumLexItems>
    <doStatistics>False</doStatistics>
</Config>

